@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  background-color: #111;
  min-height: 100vh;
}
/* nav component */
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.3rem;
  color: #ffff;
  font-size: 1.5rem;
  z-index: 100;
}
ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
}
li, .logo{
  margin: 0.5rem;
  cursor: pointer;
}
.menu{
  display: flex;
}
.socials{
  margin-left: 1.3rem;
}
.links, a{
  color: #fff;
  text-decoration: none;
}
.links:hover{
  color: #7ee8fa;
}
.links:focus{
  color: #7ee8fa;
}
.resume{
  margin-top: 0;
  padding: 0.5rem;
  border: 1px solid #75b3be;
  width: 40%;
  text-align: center;
  border-radius: 5px;
  color: #7ee8fa;
}

/* home component */
.home{
  color: #ffff;
  display: flex;
  justify-content: space-between;
  z-index: 0;
}
.main{
  margin: 20vh 0 0 5rem;;
  z-index: 80;
}
.image{
  z-index: 0;
  position: absolute;
  right: 0;
  bottom: 10vh;
  object-fit: contain;
}
.intro .text, .intro2 .text, .Bottom .free .txthead{
  font-family: 'Lobster Two', cursive;
  font-size: 4rem;
  color: #fff;
  background-color: #eec0c6;
 background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro2 .text{
  font-size: 2.5rem;
}
.tagline{
  margin-top: 1.3rem;
  color: rgb(168, 158, 158);
  font-size: 1.2rem;
}
.button{
  margin-top: 1.4rem;
  padding: 0.8rem;
  border: 1px solid #75b3be;
  width: 40%;
  text-align: center;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}
.button:hover{
  background-color: #2d3638c2;
  transition: all 0.3s ease-in-out;
}
.button a{
  color: #75b3be;
}
/* mobile */
.mobile-menu{
  display: none;
}

/* about component */
.About{
  margin: 10vh 5vh;
  color: #fff;
  display: flex;
  justify-content: space-around;
}
.imageme img{
  object-fit: contain;
  border-radius: 8px;
}
.abouttext{
  margin: 0 3rem;
}
.aboutmeintro{
  margin: 0 5vh;
  color: white;
  font-size: 3rem;
  font-family: 'Lobster Two', cursive;
}
.abouttext .headtext{
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}
.abouttext .details, .abouttext .more{
  line-height: 1.4;
  margin-bottom: 1rem;
}
.abouttext .techstacks .itro{
  margin-bottom: 0.7rem;
}
.abouttext .techstacks .techs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
}
.abouttext .techstacks .techs .row div{
  line-height: 1.4rem;
}
.abouttext .techstacks .techs i{
  color: #7ee8fa;
}

/* bottomabout */
.Bottom{
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Bottom .free .txthead{
  font-size: 4.5rem;
  margin-bottom: 1rem;
}
.Bottom .free .txt{
  font-size: 1.3rem;
  line-height: 1.5;
}
.Bottom .free .txt a{
  text-decoration: underline #eec0c6 4px;
}

/* project */
.Project{
  font-size: 2rem;
  color: #fff;
}
.Project .head{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Project .head .projectsIntro{
  color: grey;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
.Project .container{
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.Project .container .projs{
  margin: 2rem 3rem;
  padding-bottom: 1rem;
  border-radius: 6px;
  box-shadow: 3px 3px 10px #383737d5;
}
.Project .container .projs img{
  object-fit: contain;
  width: 100%;
}
.Project .container .projs .title{
  font-size: 1.5rem;
  padding: 0.5rem;
}
.Project .container .projs .projinfo{
  font-size: 1rem;
  color: grey;
  padding: 0.2rem 0.5rem;
}
.Project a{
  margin: 0.6rem;
  border: 1px solid #75b3be;
  padding: 0.5rem;
  font-size: 1rem;
}
.Project a:hover{
  background-color: #75b3be;
  transition: all 0.5s ease;
}
.Project .moreprojs{
  font-size: 1.5rem;
  text-align: center;
  color: grey;
  margin: 1rem;
  line-height: 2;
}
/* conatcts */
.Contact{
  color: #fff;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-self: center;
}
.contactimg img{
  height: 350px;
  width: 350px;
  border-radius: 13px;
  object-fit: cover;
}
.name, .prof{
  text-align: center;
}
.name{
  font-weight: 800;
}
.prof{
  font-size: 1.8rem;
  font-weight: 400;
}
.conlinks{
  display: flex;
}
.conlinks div{
  margin: 5px;
  font-size: 1.5rem;
  font-weight: 200;
}
.conlinks div a{
  color: rgb(0, 204, 255);
  text-decoration: underline;
}

/* media queries for nav and home components */
@media screen and (max-width: 600px) {
  /* navbar */
  .navbar{
    padding: 0.5rem;
  }
  .menu{
    width: 80%;
    height: 100vh;
    position: absolute;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease-out;
    flex-direction: column;
  }
  .menu .navvs{
    display: block;
    text-align: center;
  }
  .menu .navvs li{
    margin: 3rem;
  }
  .menu.active{
    background-color: #111;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease-in;
    z-index: 100;
    align-content: center;
  }
  .mobile-menu{
    display: block;
  }
  /* home */
  .home{
    min-height: 100vh;
  }
  .intro .text, .intro2 .text{
    font-size: 2.5rem;
  }
  .main{
    margin: 10vh 0 0 2rem
  }
  .image{
    width: 100%;
  }
  /* about */
  .About{
    display: block;
    margin: 5vh 1vh;
  }
  .imageme img{
    width: 100%;
    border-radius: 8px;
  }
  .abouttext{
    margin: 0 2rem;
  }
  .abouttext .techstacks .techs{
    width: 100%;
  }
  .button{
    padding: 0.7rem;
  }
  /* Project */
  .Project .container{
    display: block;
  }
  .Project .head .projectsIntro{
    text-align: center;
  }
}
