@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control,
  textarea {
    margin: 0 auto;
  }

  .name,
  .email,
  textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

/* blog */
.blogs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem;
}
.blogs .container {
  width: 400px;
  margin: 1rem;
}
.blogs .container .text-container {
  background-color: grey;
  color: white;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.blogs .container .text-container .title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.blogs .container .text-container .desc {
  margin-bottom: 0.7rem;
}
.blogs .container .text-container .autcal {
  color: rgb(255, 215, 215);
}
.blogs .container img {
  border-start-start-radius: 20px;
  border-start-end-radius: 20px;
  width: 400px;
  height: 300px;
}

/* media queries for nav and home components */
@media screen and (max-width: 600px) {
  /* navbar */
  .navbar {
    padding: 0.5rem;
  }
  .menu {
    width: 80%;
    height: 100vh;
    position: absolute;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease-out;
    flex-direction: column;
  }
  .menu .navvs {
    display: block;
    text-align: center;
  }
  .menu .navvs li {
    margin: 3rem;
  }
  .menu.active {
    background-color: #111;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease-in;
    z-index: 100;
    align-content: center;
  }
  .mobile-menu {
    display: block;
  }
  /* home */
  .home {
    min-height: 100vh;
  }
  .intro .text,
  .intro2 .text {
    font-size: 2.5rem;
  }
  .main {
    margin: 10vh 0 0 2rem;
  }
  .image {
    width: 100%;
  }
  /* about */
  .About {
    display: block;
    margin: 5vh 1vh;
  }
  .imageme img {
    width: 100%;
    border-radius: 8px;
  }
  .abouttext {
    margin: 0 2rem;
  }
  .abouttext .techstacks .techs {
    width: 100%;
  }
  .button {
    padding: 0.7rem;
  }
  /* Project */
  .Project .container {
    display: block;
  }
  .Project .head .projectsIntro {
    text-align: center;
  }
  textarea {
    width: 19rem;
  }
}
