@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  background-color: #111;
}
/* nav component */
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.3rem;
  color: #ffff;
  font-size: 1.5rem;
  z-index: 100;
}
ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
}
li, .logo{
  margin: 0.5rem;
  cursor: pointer;
}
.menu{
  display: flex;
}
.socials{
  margin-left: 1.3rem;
}
.links{
  color: #fff;
  text-decoration: none;
}
.links:focus{
  color: #7ee8fa;
}

/* home component */
.home{
  min-height: 90.2vh;
  color: #ffff;
  display: flex;
  justify-content: space-between;
}
.main{
  margin: 20vh 0 0 5rem;;
  z-index: 80;
}
.image{
  z-index: 0;
  position: absolute;
  right: 0;
  bottom: 10vh;
  object-fit: contain;
}
.intro .text, .intro2 .text{
  font-family: 'Lobster Two', cursive;
  font-size: 4rem;
  color: #fff;
  background-color: #eec0c6;
 background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro2 .text{
  font-size: 2.5rem;
}
/* mobile */
.mobile-menu{
  display: none;
}
/* media queries for nav and home components */
@media screen and (max-width: 600px) {
  /* navbar */
  .navbar{
    padding: 0.5rem;
  }
  .menu{
    width: 80%;
    height: 100vh;
    position: absolute;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease-out;
    flex-direction: column;
  }
  .menu .navvs{
    display: block;
    text-align: center;
  }
  .menu .navvs li{
    margin: 3rem;
  }
  .menu.active{
    background-color: #111;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease-in;
    z-index: 100;
    align-content: center;
  }
  .mobile-menu{
    display: block;
  }
  /* home */
  .home{
    min-height: 100vh;
  }
  .intro .text, .intro2 .text{
    font-size: 2.5rem;
  }
  .main{
    margin: 20vh 0 0 2rem
  }
  .image{
    width: 100%;
  }
}